<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
	<h1>Advanced features for Plud.DJ!</h1>
	<p>Seamless integration allows you to supercharge Plug.DJ without scratching your head. Plug X offers the most features out of any extension on the market. Oh yeah, it's free too!</p>
	<p><a onclick="chrome.webstore.install()" class="btn btn-primary btn-lg" role="button" id="install-button">Download for <span itemprop="operatingSystem">Chrome</span> &raquo;</a></p>
  </div>
</div>